.headerContainer {
  height: 80px;
  width: 100%;
  background-color: grey;
}

nav {
  display: flex;
}

.linkContainer {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid black;
}
